/* composeStyle.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: #0056b3;
    color: #fff;
}
nav {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 15px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

li.active a {
    color: #333;
}

main {
    margin-top: 20px;
}


form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    font-size: 16px; /* Adjust the font size as needed */
    resize: vertical;
}

input[type="file"] {
    padding: 5px;
}

input[type="submit"] {
    justify-self: end; /* Align to the right within the grid */
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
