/* Global Style */
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #66a6ff, #89f7fe);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  justify-self: center;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 30px;
  width: 100%;
}

/* Adjusted label styling */
label {
  font-size: 0.85rem; /* Smaller font size */
  font-weight: 500;
  color: #666; /* Light gray color */
  display: block;
  margin-bottom: 5px; /* Space below the label */
}

input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 30px; /* Rounded corners */
  box-sizing: border-box;
  background: #ffffff;
}

input::placeholder {
  color: #fff; /* Light gray placeholder text */
}

button {
  background-color: #32cd32; /* Bright green color */
  color: white;
  padding: 15px;
  border: none;
  border-radius: 30px; /* Fully rounded corners */
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
}

a {
  color: #32cd32; /* Bright green color for links */
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.input-group {
  margin-right: 30px;
  margin-bottom: 25px;
  text-align: left;
}

.outlined-textfield {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 12px;
}

.outlined-textfield input {
  width: 100%;
  padding: 14px;
  border-radius: 4px;
  background: none;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

.outlined-textfield input:focus {
  border-color: #34db6c;
  outline: none;
}

.outlined-textfield input::placeholder {
  color: transparent;
}

.textfield-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: 0.3s ease;
}

.outlined-textfield input:focus + .textfield-label,
.outlined-textfield input:not(:placeholder-shown) + .textfield-label {
  top: 1px;
  font-size: 12px;
  color: #34db6c;
}

.outlined-textfield input:focus {
  border-color: #34db6c; /* Blue border on focus */
}

.outlined-textfield:focus-within {
  border-color: #34db6c; /* Highlight the border of outlined-textfield when an input inside is focused */
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3); /* Optional: add a subtle shadow for emphasis */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
